{% extends "base.html" %}
{% block content %}
{% if error %}
  <div class="alert alert-danger" role="alert">
    <p style="margin:0;">{{ error }}</p>
  </div>
{% endif %}
<form action="" method="POST" style="margin-bottom: 50px;">
{% csrf_token %}
  <div class="form-row">
    <div class="col">
      <label for="inputSearch">ค้นหาชื่อห้อง</label>
      <input type="text" class="form-control" placeholder="ชื่อห้อง" name="room_name">
    </div>
    <div class="col">
      <label>ค้นหาวันว่าง</label>
      <input type="date" name="day" max="3000-12-31" min="{% now 'Y' %}-01-01" class="form-control">
    </div>
    <div class="col">
      <label>เวลาว่าง</label>
      <select class="form-control" id="time" name="time">
       <option selected value="">ค้นหาเวลาว่าง</option>
        {% for r in room_all %}
          <option value="{{ r.open_time|time:'H:i' }}-{{ r.close_time|time:'H:i' }}">{{ r.open_time|time:'H:i' }} น. - {{ r.close_time|time:'H:i' }} น.</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" value="Select" class="btn btn-primary ml-3"
      style="margin-right: 50px; margin-top: 20px; width: 80px; height: 60px;">ค้นหา</button>
  </div>
</form>


<table class="table" style="text-align: center;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ชื่อห้อง</th>
      <th scope="col">เวลาเปิด - ปิด</th>
      <th scope="col">ความจุ</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for r in room %}
    <tr>
      <td>{{ r.name }}</th>
      <td>{{ r.open_time|time:'H:i' }} น. - {{ r.close_time|time:'H:i' }} น.</td>
      <td>{{ r.capacity }} คน</td>
      <td style="width:10%;">
        <a href="{% url 'detail' r.room_id %}" class="btn btn-warning">ดูรายละเอียด</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}