{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>รายการคำร้อง</h1><br>
<table class="table" style="text-align: center;">
  <thead style="background: #333;">
    <tr>
      <th scope="col">ชื่อห้อง</th>
      <th scope="col">วันที่ขอจอง</th>
      <th scope="col">เวลาที่ขอจอง</th>
      <th scope="col"> เวลาเปิด/ปิดของห้อง </th>
      <th scope="col">สถานะ</th>
      <th scope="col">คำอธิบายการอนุมัติ</th>
    </tr>
  </thead>
  <tbody>
    {% for b in booking %}
    <tr>
      <td>{{ b.room.name }}</th>
      <td>{{ b.date|date:'d M Y' }}</td>
      <td>{{ b.start_time|time:'H:i' }} น. - {{ b.end_time|time:'H:i' }} น.</td>
      <td>{{ b.room.open_time|time:'H:i' }} น. - {{ b.room.close_time|time:'H:i' }} น.</td>
      {% if b.status == 'อนุมัติ' %}
      <td>
        <div class="bg-success" style="height: 30px; padding: 0; padding-top: 2px; border-radius:15px;" role="alert">
          {{ b.status }}</div>
      </td>
      {% elif b.status == 'ปฏิเสธ' %}
      <td>
        <div class="bg-danger" style="height: 30px; padding: 0; padding-top: 2px; border-radius:50px;" role="alert">
          {{ b.status }}</div>
      </td>
      {% else %}
      <td>
        <div class="bg-warning" style="height: 30px; padding: 0; padding-top: 2px; color:#000; border-radius:15px;"
          role="alert">{{ b.status }}</div>
      </td>
      {% endif %}
      <td style="color:#111;"> 
        <a class="btn btn-primary" href="#" title="Dasd" data-toggle="popover" data-trigger="focus"
          data-content="{{ b.status_remark }}">กดเพื่อดูคำอธิบาย</a>
        </div>

        <script>
          $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
          });
        </script>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock  %}